<!DOCTYPE html>
<html ng-app="bookEdit">
<head>
    <meta charset="UTF-8">
    <title>BibliotecAí</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="lib/angular.js"></script>
    <style>
        input[type='file'] {
            display: none
        }
        .input-wrapper label {
            background-color: #3498db;
            border-radius: 5px;
            color: #fff;
            margin: 10px;
            padding: 6px 20px
        }

        .input-wrapper label:hover {
            background-color: #2980b9
        }
    </style>

    <script>
       var bookEditModule = angular.module("bookEdit", []);

       bookEditModule.controller("bookEditCtrl", function ($scope, $http, $location) {
            scope = $scope; 
            scope.msg = "Editar Livro";
            let urlParams = new URLSearchParams(window.location.search);
            let id = urlParams.get('id');
            let delete_image = "";

            var findBook = function(){
                $http.get('http://localhost:8000/api/v1/editBook/'+id, {
                    headers: {
                        'Authorization': 'Bearer 123456'
                    }
                }).then(function(result) {
                    console.log(result);
                    $scope.book = result.data.book;
                    $scope.authors = result.data.authors;
                    $scope.selecteds_author = result.data.selecteds_author;
                    delete_image = result.data.book.image;
                    
                }).catch(function(result) {
                    console.log(result.data);
                });
            }
            
            $('#input_file').change(function() {
                $('#file_name').html(this.value);
            });

            $scope.editBook = function (){
                var file = scope.fileBook;
                console.log(file);
                formData = new FormData();
                $scope.book.authors = $scope.selecteds_author;
                formData.append('file', file);
                formData.append('book', JSON.stringify($scope.book));
                formData.append('delete_image', delete_image);  
                                
                $http.post("http://localhost:8000/api/v1/updateBook/"+id, formData, {
                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined,  'Authorization': 'Bearer 123456'}
                }).then(function(result) {
                    window.location.href = result.data.html;
                }).catch(function(result) {
                    console.log(result.data);
                });
            };

            findBook();
        })
        bookEditModule.directive('ngFile', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function(scope, element, attrs) {
                    element.bind('change', function(){
                        
                        $parse(attrs.ngFile).assign(scope,element[0].files[0])
                        scope.$apply();
                    });
                }
            };
        }]);
    </script>
</head>
<body ng-controller="bookEditCtrl">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="books.html">BibliotecAí</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="authors.html">Autores</a>
            <a class="nav-item nav-link" href="books.html">Livros</a>
            <a class="nav-item nav-link" href="lendings.html">Empréstimos</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <ol class="breadcrumb panel-heading" style="background: #efc050">
                        <li class="active" style="color:#616161; font-weight:bold" ng-bind="msg | uppercase"></li>
                    </ol>
                    <div class="panel-body">
                        <form id="form" name="addBookForm" method="POST" enctype="multipart/form-data">
                            <div class="alert alert-danger" ng-show="addBookForm.title.$error.required && addBookForm.title.$dirty">
                                Preencha o Título, por favor
                            </div>
                            <!--div class="alert alert-danger" ng-show="addBookForm.authors.$error.required && addBookForm.authors.$dirty">
                                Selecione ao menos um autor, por favor
                            </div-->
                            <div class="form-group">
                                <label for="title">Título</label>
                                <input type="text" class="form-control" ng-model="book.title" name="title" id="title" placeholder="Título" value="{{ book.title }}">
                            </div>
                           
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea class="form-control" rows="3" ng-model="book.description" name="description" id="description"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="name">Autores</label>
                                <select class="form-control" ng-model="selecteds_author" ng-options="author as author.name for author in authors track by author.id" multiple="multiple"></select>
                            </div>

                            <div class="form-group">
                                <img src="{{'http://localhost:8000/storage/book/' + book.image}}"  width="10%" />
                                <input type="hidden" name="deleteimage" >
                            </div>
                            <div class='input-wrapper'>
                                <label for='input_file' class="fa fa-book">
                                    Alterar Capa do Livro
                                </label>
                                <input id='input_file' ng-file='fileBook' name="image" type='file' value='' />
                                <span id='file_name'></span>
                            </div>

                            <br />
                            <button class="btn btn-primary" ng-click="editBook(book)" ng-disabled="addBookForm.$invalid">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>